

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 20px auto;
    max-width: 800px;
}

article {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
